*{
	margin:0;
	padding:0;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/portfolio.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
	height: 100vh;
}
.main-nav{
	float:right;
	list-style:none;
	margin-top: 30px;
}
.main-nav li{
	display:inline-block;
}
.main-nav li a{
	color:#fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.main-nav li.active a{
	border:1px solid white;
}
.main-nav li a:hover{ 
	border:1px solid white;
}
.logo img {
	width:100px;
	height:auto;
	float:left ;
}
body{
	font-family:monospace;
}
.row{
	max-width: 1200px;
	margin:auto;
}
.hero{
	position: absolute;
	width:1200px;
	margin-left: 0;
	margin-top: 275px;
}
h1{
	color:#fff;
	text-transform: uppercase;
	font-size: 90px;
	text-align: center;
	margin-top: 0;
}
.button{
	margin-top: 30px;
	margin-left: 440px;
}
.btn{
	border:1px solid white;
	padding:10px 30px;
	color:#fff;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one{
	background-color: darkorange;
	font-family: 'Roboto', sans-serif;
	
	
}
.btn-two{
	font-family: 'Roboto', sans-serif;
}
.btn-two:hover{
	background-color: darkorange;
	transition: all 0.5s ease-in;
}