*{
	margin:0;
	padding:0;
}
.main-nav{
	float:right;
	list-style:none;
	margin-top: 30px;
}
.main-nav li{
	display:inline-block;
}
.main-nav li a{
	color:#000;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.main-nav li.active a{
	border:1px solid white;
}
.main-nav li a:hover{ 
	border:1px solid black;
}
.logo img {
	width:100px;
	height:auto;
	float:left ;
}
body{
	font-family:monospace;
	background-color: rgba(215,64,7,0.1);
}
.row{
	max-width: 1200px;
	margin:auto;
}
h1{
	color:#000;
	text-transform: uppercase;
	font-size: 90px;
	text-align: center;
	margin-top: 0;
}
.ndanu{
	width:800px;
	height:500px;
	margin:0 auto;
	margin-top: 130px;
	font-size:15px;
}
p{
	position:relative;
	bottom: -120px;
	color: rgba(0,0,0,0.8);
}
.mbeneka{
	width:800px;
	height:500px;/*
	background-color: rgba(0,0,0,0.1);*/
	margin:0 auto;
	font-size:15px;
}
.sarah{
	width:800px;
	height:500px;
	/*background-color: rgba(0,0,0,0.1);*/
	margin:0 auto;
	font-size:15px;
}
.dad{
	width:800px;
	height:500px;
	/*background-color: rgba(0,0,0,0.1);*/
	margin:0 auto;
	font-size:15px;
}